<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Kodano_Promotion::promotions" title="Promotions" translate="title" sortOrder="20">
                    <resource id="Kodano_Promotion::promotions_actions" title="Promotion Actions" translate="title"
                              sortOrder="10">
                        <resource id="Kodano_Promotion::index" title="Index Promotions" translate="title"
                                  sortOrder="10"/>
                        <resource id="Kodano_Promotion::create" title="Create Promotion" translate="title"
                                  sortOrder="10"/>
                        <resource id="Kodano_Promotion::delete" title="Delete Promotion" translate="title"
                                  sortOrder="10"/>
                    </resource>
                </resource>
                <resource id="Kodano_Promotion::promotion_groups" title="Promotion Groups" translate="title"
                          sortOrder="20">
                    <resource id="Kodano_Promotion::promotion_groups_actions" title="Promotion Groups Actions"
                              translate="title"
                              sortOrder="10">
                        <resource id="Kodano_Promotion::index_group" title="Index Promotion Groups" translate="title"
                                  sortOrder="10"/>
                        <resource id="Kodano_Promotion::create_group" title="Create Promotion Group" translate="title"
                                  sortOrder="10"/>
                        <resource id="Kodano_Promotion::delete_group" title="Delete Promotion Group" translate="title"
                                  sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
